.admin-home-wrapper {
  display: flex;
  flex-direction: column;

  .user-status__results {
    display: flex;
    align-items: center;
    justify-content: center;

    .search-loading-page {
      transform: translateX(500px);
    }
  }
}

.admin-home {
  &__welcome-message {
    color: #6BD35F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-left: 200px;
  }

  &__page-name {
    color: #6BD35F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-left: 200px;
  }
}

.page-titler-and-selector {
  display: flex;
  justify-items: space-between;

  &__page-titler {
    color: #6BD35F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-left: 200px;
  }
}

.save-changes-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.save-changes-button {
  color: #6BD35F;
  font-weight: 700;
  font-size: 64px;
  margin-right: 10px;

  &__description {
    color: #6BD35F;
    font-weight: 700;
    font-size: 32px;
  }
}

.user-not-found {
  color: #6BD35F;
  font-weight: 700;
  font-size: 64px;
}

@media screen and (max-width: 1180px) and (orientation: landscape) {

  .admin-home {
    &__welcome-message {
      color: #6BD35F;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 64px;
      padding-left: 20px;
    }
  
    &__page-name {
      padding-left: 20px;
    }
  }
  
  .selector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .page-titler-and-selector {
    display: flex;
    justify-items: space-between;

    &__page-titler {
      color: #6BD35F;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 64px;
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 1180px) and (orientation: portrait) {

  .user-status__user-profile-component {
    width: 800px;
  }
  
  .admin-home {
  &__welcome-message {
    color: #6BD35F;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-left: 20px;
  }

  &__page-name {
    padding-left: 20px;
  }
}

.selector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  input, select {
    font-size: 18px;
  }
}

  .page-titler-and-selector {
    display: flex;
    justify-items: space-between;

    &__page-titler {
      color: #6BD35F;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 64px;
      padding-left: 20px;
    }
  }

  .save-changes-button {
    display: flex;
    color: #6BD35F;
    font-weight: 700;
    font-size: 48px;
    margin-right: 10px;
  
    &__description {
      color: #6BD35F;
      font-weight: 700;
      font-size: 32px;
    }
  }

  .user-not-found {
    display: flex;
    justify-content: center;
    color: #6BD35F;
    font-weight: 700;
    font-size: 64px;
  }
}