.page-titler-and-selector {
  display: grid;
  grid-template-columns: [page-titler-s] 1fr [page-titler-e selector-s] 1fr [selector-e] 20px;
  grid-template-rows: [s] auto [m] auto [e] auto [button];
  margin-top: 50px;

  &__page-titler {
    grid-column: page-titler-s/page-titler-e;
    grid-row: s/button;
  }

  &__selector-label {
    grid-column: selector-s/selector-e;
    grid-row: s/m;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: green;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
  }

  &__search-params {
    grid-column: selector-s/selector-e;
    grid-row: m/e;
    display: flex;
    align-content: center;
    height: 25px;
    width: 200px;
    margin-bottom: 20px;
  }

  &__search-button,
   button {
    grid-column: selector-s/selector-e;
    grid-row: e/button;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 200px;
  }
}

.user-status__results {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}