.delete-set {
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: right;
  align-items: center;
  color: #6BD35F;

  &:hover {
    cursor: pointer;
  }
}