.page-titler {
  color: #6BD35F;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 64px;
  padding-left: 200px;
}

@media screen and (max-width: 1180px) and (orientation: portrait) {
  .page-titler {
  color: #6BD35F;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 64px;
  padding-left: 50px;
  }
}
