.register-page-wrapper {
  display: grid;
  grid-template-columns: 1fr [content-s] 3fr [content-e] 1fr;
  gap: 25px 20px;

  .register-form {
    display: grid;
    grid-column: content-s/content-e;
    grid-template-columns: [col1-s] 1fr [col1-e col2-s] 1fr [col2-e]; 
    grid-template-rows: 100px [register-s] 40px [register-e label-names-s] 1fr [label-names-e names-s] 1fr [names-e label-email-course-s] 1fr [label-email-course-e email-course-s] 1fr [email-course-e label-password-s] 1fr [label-password-e] 12px [password-s] 1fr [password-e label-confirm-password-s] 1fr [label-confirm-password-e confirm-s] 1fr [confirm-e button-s] 1fr [button-e];
    gap: 0px 100px;
    align-items: end;

    label {
      font-size: 24px;
    }

    input {
      font-size: 24px;
    }

    .register-heading {
      color: #6BD35F;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 64px;
      grid-column: col1-s/col1-e;
      grid-row: register-s/register-e;
    }

    &__first-label {
      grid-column: col1-s/col1-e;
      grid-row: label-names-s/label-names-e;
    }

    &__first-name {
      grid-column: col1-s/col1-e;
      grid-row: names-s/names-e;
      border: none;
      border-bottom: solid gray 2px;
      font-size: 24px;
      &:focus {
        outline: none;
      }
    }

    &__last-label {
      grid-column: col2-s/col2-e;
      grid-row: label-names-s/label-names-e;
    }

    &__last-name {
      grid-column: col2-s/col2-e;
      grid-row: names-s/names-e;
      border: none;
      border-bottom: solid gray 2px;
      &:focus {
        outline: none;
      }
    }

    &__email-label {
      grid-column: col1-s/col1-e;
      grid-row: label-email-course-s/label-email-course-e;
    }

    &__e-mail {
      grid-row: email-course-s/email-course-e;
      border: none;
      border-bottom: solid gray 2px;
      &:focus {
        outline: none;
      }
    }

    &__label-course {
      grid-column: col2-s/col2-e;
      grid-row: label-email-course-s/label-email-course-e;
    }

    &__course {
      grid-column: col2-s/col2-e;
      grid-row: email-course-s/email-course-e;
      width: 200px;
    }

    &__label-role {
      grid-column: col2-s/col2-e;
      grid-row: label-email-course-s/label-email-course-e;
      justify-self: end;
    }

    &__role {
      grid-column: col2-s/col2-e;
      grid-row: email-course-s/email-course-e;
      width: 150px;
      justify-self: end;
    }

    &__label-password {
      grid-column: col1-s/col1-e;
      grid-row: label-password-s/label-password-e;
    }

    &__password {
      grid-row: password-s/password-e;
      border: none;
      border-bottom: solid gray 2px;
      &:focus {
        outline: none;
      }
    }

    &__label-confirm-password {
      grid-column: col1-s/col2-e;
      grid-row: label-confirm-password-s/label-confirm-password-e;
    }

    &__confirm-password {
      grid-row: confirm-s/confirm-e;
      border: none;
      border-bottom: solid gray 2px;
      &:focus {
        outline: none;
      }
    }

    .password-suggestions {
      grid-column: col2-s/col2-e;
      grid-row: password-s/password-e;
      justify-content: left;
      color: gray;
      font-size: 12px;
      list-style-position: inside;

      li {
        color: gray;
        grid-column: col2-s/col2-e;
        grid-row: password-s/password-e;
      }
    }

    .passwords-match {
      color: red;
      grid-column: col2-s/col2-e;
      grid-row: password-e/password-s;
      transform: translateY(30px);
      font-size: 14px;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-between;
      grid-column: col2-s/col2-e;
      grid-row: label-confirm-password-s/span 2;
    }
  }
}

@media screen and (max-width: 1180px) {
  .register-page-wrapper {
    display: grid;
    grid-template-columns: 1fr [content-s] 3fr [content-e] 1fr;
    gap: 25px 20px;

    .register-form {
      display: grid;
      grid-column: content-s/content-e;
      grid-template-columns: [col1-s] 1fr [col1-e col2-s] 1fr [col2-e]; 
      grid-template-rows: 50px [register-s] 40px [register-e label-names-s] 1fr [label-names-e names-s] 1fr [names-e label-email-course-s] 1fr [label-email-course-e email-course-s] 1fr [email-course-e label-password-s] 1fr [label-password-e] 12px [password-s] 1fr [password-e label-confirm-password-s] 1fr [label-confirm-password-e confirm-s] 1fr [confirm-e button-s] 1fr [button-e];
      gap: 0px 100px;
      align-items: end;

      .register-heading {
        color: #6BD35F;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48px;
        grid-column: col1-s/col1-e;
        grid-row: register-s/register-e;
      }
    }
  }
}

@media screen and (max-width: 1180px) and (orientation: portrait) {
  .register-page-wrapper {
    display: grid;
    grid-template-columns: 20px [content-s] 3fr [content-e] 20px;
    gap: 25px 5px;

    .register-form {
      gap: 0px 50px;
    }
  }
}
